/* Bootstrap styles overridden here */

body {
  background-color: white;
  color: black;
}

/* Navbar */
.navbar .container-fluid{
  background-color:black;
}

.navbar .navbar-brand {
    margin: 0;
    padding: 0;
}

.navbar .navbar-brand img {
    padding-left:3rem;
    height:50px;
    max-height: 100%;
}

.navbar .navbar-brand img:hover{
  opacity:0.75;
}

.nav-search{
  width:30%; 
  margin: auto; 
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
}

/* Unselected */
.navbar .nav-item .nav-link{
  color:white;
  font-size:16px;
  padding-right:3rem;
  padding-left:3rem;
}

/* Selected and Hover */
.navbar .nav-item .nav-link:hover,
.navbar .nav-item.active{
  background-color:grey;
}

/* overall css */

.inline-middle {
  display: inline-block;
  vertical-align: middle;
  width: 49.5%;
}

h2 {
  margin-bottom: 30px;
}
th, td {
  border: 1px solid;
  padding: 5px;
}
td li {
  list-style: none;
  margin: 5px;
}

.wrap-file input[type=file] {
  display: inline-block;
  vertical-align: super;
}
.wrap-file .custom_dropdown {
  display: inline-block;
  vertical-align: super;
}

/* Plus sign css */

.circle {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: rgb(44, 108, 128);
  position: relative;
  display: inline-block;
  vertical-align: sub;
  cursor: pointer;
}

.circle::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  height: 2px;
  margin-top: -5px;
  top: 62%;
  left: 5px;
  right: 5px;
  z-index: 9;
}

.circle::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  width: 2px;
  margin-left: -5px;
  left: 66%;
  top: 5px;
  bottom: 5px;
  z-index: 9;
}

/* AJAX form */

/*
.feedback_form_wrap {
  margin: 25px auto 0 auto;
  width: 70%;
}
*/

.feedback_button_modal h3 {
  text-align: center;
  font-size:36px;
}

.form_submission_msg {
  font-size: 20px;
  text-align: center;
  margin-bottom: 25px;
  color: #b789b7;
}

.feedback_form {
  background-color: white;
  padding-left:30px;
}

.feedback_form .form-control {
  width: 95%;
}

.loading {
  display: none;
  text-align: center;
}

.loading img {
  width: 10%;
}

/* Paper browsing app store UI */

/* Modal CSS */

.modal_btn {
  cursor: pointer;
  text-decoration: underline;
}

.modal_text {
  display: block;
  padding: 10px;
  font-size: 14px;
  color: #333;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sort-modal {
  color: #000;
  display: grid;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  text-align: left;
}

@media (max-width: 1440px) {
  .sort-modal {
    color: #000;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: left;
  }
}

@media (max-width: 1000px) {
  .sort-modal {
    color: #000;
    display: grid;
    grid-template-columns: 100%;
    text-align: left;
  }
}

.column {
  margin-top: 17px;
}

.sort-modal input {
  margin: 4px;
}

.sort-modal label {
  margin-top: 3px;
  margin-bottom: 2px;
}

.sort-modal div {
  display: inline;
  position: relative;
}

.modal_msg {
  margin-bottom: 15px;
  font-size: 25px;
}

.modal_text p {
  margin-bottom: 3px;
}

.modal_text p.tab {
  margin-left: 50px;
}

.clipboard_copy {
  text-align: right;
  margin-top: 5px;
}

.clipboard_copy button {
  border-radius: 4px;
}

/* The Modal (background) */

.modal {

  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 80px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.modal_content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  overflow: hidden;
}

/* The Close Button */

.close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 3px;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Counts CSS */

.counts {
  text-align: right;
}

.custom_column {
  display: inline-block;
  text-align: center;
  margin: 0 20px;
}

.custom_column .count {
  font-size: 25px;
}

.or {
  font-size: 20px;
  color: #040404;
  margin-bottom: 10px;
}

/* Mobile counts */
.paper_info .counts {
  text-align: center;
  visibility: hidden;
  display: none;
}

@media (max-width: 770px) {
  /* Mobile css for navbar */
  .navbar .navbar-brand img {
    padding-left:5px;
    padding-top:5px;
    height:50px;
    max-height: 100%;
  }

  .navbar-nav>li, .navbar-nav{
    float: left !important;
  }
  
  .navbar-nav.navbar-right:last-child{
    margin-right: -15px !important;
  }
  
  .navbar-right{
    float: right !important;
  }

  .navbar .nav-item .nav-link{
    font-size:14px;
    padding-left:1.5rem;
    padding-right:1.5rem;
  }
}

/* Mobile CSS */

@media (max-width: 45em) {
  .or {
    font-size: 16px;
  }

  .top-search {
    visibility: hidden;
    display: none;
  }

  .inline-middle {
    width: auto;
    display: block;
  }

  .inline-middle {
    width: auto;
    display: block;
    text-align: center;
  }
  
  .searchbar.inline-middle {
    display: inline-block;
    width: 60%;
  }
  .form-control {
    width: 90%;
  }

  .footer {
    text-align: center;
  } 
    
  .paper_info .counts {
    text-align: center;
    visibility: visible;
    display: inline;
  }
  .custom_column {
    margin: 0 20px 10px 20px;
  }
  /*
  tr> td:first-child {
    display: none;
  }  

  td {
    text-align: left;
  }
  */

  /*
  .feedback_form_wrap {
    width: 90%;
  }
  */
}

/* .specific_paper:hover {
  color: white;
  border: 3px solid #f4f5f7;
  font-size: 22px;
} */

/* .specific_paper:hover {
  color: white;
  border: 3px solid #f4f5f7;
  font-size: 22px;
} */

/* Jumbotron/title block */
.preview {
  background-color: #1f2283;
  color: white;
  padding-top: 100px;
  padding-bottom: 60px;
  margin: 0;
  text-align: center;
}


/* Paper browsing app store UI */
.papers {
  display: flex;
  flex-flow: row wrap;
}

/* Sorting "navbar" */

.sort_nav {
  margin-top: 40px;
  /* display: flex; */
  text-align: center;
}

.sort_form {
  height: 48px;
  margin: 5px;
  float: right;
  display: flex;
  align-items: center;
}

.sort_generic {
  height: 34px;
  margin-left: 10px;
}

/* Flask paginate CSS */

.pagination {
  margin: 5px;
  float: left;
}

.pagination ul {
  padding: 0;
  margin: 5px 0;
}

.pagination ul li {
  display: inline-block;
  margin: 0px 10px;
  font-size: 20px;
}

.pagination ul li a {
  color: #fff;
  cursor: pointer;
}

/* Design 2 */
.specific_paper {
  border: 2px solid #eeeeee;
  border-radius: 0;
  font-size: 20px;
  cursor: pointer;
  flex-grow: 1;
  margin: 7px 7px 7px 0;
  min-width: 300px;
  min-height: 75px;
  background-color: #eeeeee;
  position: relative;
  z-index: 0;
}

.specific_paper .paper_image {
  float: left;
  background-color: #1f2283;
  color: #fff;
  padding: 10px;
  height: 120px;
  width: 120px;
  position: relative;
}
  
.specific_paper img {
  height: 100px;
  margin: auto; 
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
}

.paper_info {
  margin-left: 35px;
  margin-top: 25px;
}
.paper_info .top {
  margin-left:98px;
  padding: 10px;
  background-color: #ddd;
  /* border: 2px solid #e0e0e0; */
  border-bottom: 1px;
}

.paper_info .title {
  font-weight: bold;
}
  
.paper_info .name_year {
  color: #626262;
}

.paper_info .bot {
  padding: 10px 0 10px 10px;
  color: #000;
}

/* Text color and hovering */

.paper_info:hover .top, .paper_info:hover .bot{
  color: #1a1b1a;
  border-color: #030959;
  text-decoration: none;
}

.specific_paper a.paper_link {
  color: #414142;
}

/* Table in specific paper page */

/* Styles elements in the preview jumbotron */
.paper-top {
  text-align:left;
}
.paper-top .media-object {
  width:110px; 
  height:110px; 
  margin-right:20px;
}

.paper-top .col-lg-3 {
  margin-top:20px;
  font-size:25px;
}

.paper-top .col-lg-3 img{
  padding-right:10px;
  height:45px;
  width:45px
}

.paper-top .media .info{
  font-size:20px;
}

.paper-top .media-left div {
  width:320px;
}

.paper-top h3{
  font-size:33px;
}

/* Styles elements outside the preview jumbotron */
.main-body h2, .sidebar h2 {
  margin-top:0;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c4c4c4;
}

.main-body {
  padding-right: 7rem;
}

.paper_info {
  font-size: 20px;
  background: #eee;
}

.terms {
  font-size: 15px;
  margin: 5px 0 0 5px;
}
.edit_button {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

/*Previous comments css */
.comments {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.comments h3 {
  margin-top: 5px;
  margin-bottom: 25px;
}

.comment-wrap {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.comment {
  display: inline-block;
  width: 70%;
  padding-left: 5px;
}

.comment_by {
  display: inline-block;
  font-size: 15px;
  color: #aaa;
  text-align: right;
  width: 29%;
}

/* Cite this Paper */
.cite_button {
  cursor: pointer;
}

 .cite_button_modal .citation {
  padding:30px;
}

.paper-top a {
  color:white;
}

.form-group.required label:after {
  content: ' *';
  color: red;
  vertical-align: middle;
}

.cite_button:hover, .paper-top a:hover, .feedback_button:hover{
  color: #f3f3f3;
  text-decoration: underline;
}

/* Request upload page */

.request-wrap {
  padding: 50px;
}

.request-wrap .form-group{
  font-size:25px;
  padding-bottom:10px;
}
