/* Bootstrap styles overridden here */

.nav.nav-pills.pull-left {
  font-size: 18px;
  margin: 5px 0;
}

.nav-pills>li+li {
  margin-left: 5px;
}

label {
  font-size: 20px;
  font-weight: 400;
}

form {
  margin: 0;
}

.form-control {
  width: 50%;
}

textarea.form-control {
  min-height: 175px;
}

.form-group.required label:after {
  content: ' *';
  color: red;
  vertical-align: middle;
}

ul.nav.nav-pills.inline-middle a {
  background-color: #c1c0c0;
  color: white;
}

ul.nav.nav-pills.inline-middle .active a, ul.nav.nav-pills.inline-middle a:hover {
  background-color: black;
}

/* Flask paginate CSS */
.pagination-page-info {
  padding: .6em;
  padding-left: 0;
  width: 40em;
  margin: .5em;
  margin-left: 0;
  font-size: 18px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.pagination-page-info b {
  color: black;
  background: #b7c5d6;
  padding-left: 2px;
  padding: .1em .25em;
  font-size: 18px;
}

.pagination ul {
  padding: 0;
  margin: 5px 0;
}

.pagination ul li {
  display: inline-block;
  margin: 0px 10px;
  font-size: 20px;
}

/* Plus sign css */
.circle {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: rgb(44, 108, 128);
  position: relative;
  display: inline-block;
  vertical-align: sub;
  cursor: pointer;
}
.circle::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  height: 2px;
  margin-top: -5px;
  top: 62%;
  left: 5px;
  right: 5px;
  z-index: 9;
}
.circle::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  width: 2px;
  margin-left: -5px;
  left: 66%;
  top: 5px;
  bottom: 5px;
  z-index: 9;
}

/* overall css */
.header {
  padding: 5px 0px 5px 0px;
  font-size: 16px;
}

.footer {
  margin: 20px 0 50px 0;
}

.inline-middle {
  display: inline-block;
  vertical-align: middle;
  width: 49.5%;
}

th, td {
  border: 1px solid;
  padding: 5px;
}

td li {
  list-style: none;
  margin: 5px;
}

.wrap-file input[type=file] {
  display: inline-block;
  vertical-align: super;
}

.wrap-file .custom_dropdown {
  display: inline-block;
  vertical-align: super;
}

.searchbar-wrap {
  text-align: right;
}


/* AJAX form */

.feedback_form_wrap {
  margin: 25px auto 0 auto;
  width: 70%;
}

.feedback_form_wrap h3 {
  text-align: center;
}

.form_submission_msg {
  font-size: 20px;
  text-align: center;
  margin-bottom: 25px;
  color: #b789b7;
}

.feedback_form {
  background-color: white;
  padding: 30px;
  margin: 10px 0px;
}

.feedback_form .form-control {
  width: 100%;
}

.loading {
  display: none;
  text-align: center;
}

.loading img {
  width: 10%;
}

/* Paper browsing app store UI */
.papers {
  display: flex;
  flex-flow: row wrap;
}

.specific_paper {
  border: 2px solid #d1dae2;
  border-radius: 5px;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  flex-grow: 1;
  margin: 7px 7px 7px 0;
  min-width: 300px;
  min-height: 75px;
  background-color: #d1dae2;
}

.specific_paper div {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.specific_paper a.paper_link {
  color: #545353;
}

.specific_paper a.paper_link:hover {
  text-decoration: none;
}

.specific_paper:hover, .specific_paper:hover a.paper_link {
  color: #1a1b1a;
  border-color: black;
}

/* Table in specific paper page */
.paper_info {
  font-size: 20px;
}

.paper_info h3 {
  text-align: center;
  margin-bottom: 25px;
}

.terms {
  font-size: 15px;
  margin: 5px 0 0 5px;
}

.edit_button {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.paper_info table {
  table-layout: fixed;
  width: 100%;
}

.paper_info td {
  text-overflow: ellipsis;
  overflow: hidden;
}

td.preserve-line-breaks {
  white-space: pre-wrap;
}

.paper_info table, .paper_info th, .paper_info td {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  font-size: 18px;
  line-height: 28px;
}

.paper_info table ul {
  padding: 0;
  margin: 0;
}

.paper_info table {
  margin: 0px auto;
}

/* Modal CSS */

.modal_btn {
  cursor: pointer;
  text-decoration: underline;
}

.modal_text {
  display: block;
  padding: 10px;
  font-size: 14px;
  color: #333;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal_msg {
  margin-bottom: 15px;
  font-size: 25px;
}

.modal_text p {
  margin-bottom: 3px;
}
.modal_text p.tab {
  margin-left: 50px;
}

.clipboard_copy {
  text-align: right;
  margin-top: 5px;
}

.clipboard_copy button {
  border-radius: 4px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 40px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal_content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal_btn_useragreement {
  text-decoration: underline;
  cursor: pointer;
}

/* The Close Button */
.close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 3px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* Counts CSS */
.counts {
  text-align: right;
}

.custom_column {
  display: inline-block;
  text-align: center;
  margin: 0px 20px;
}

.custom_column .count {
  font-size: 25px;
}

/* Comments */
.comments {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.comments h3 {
  margin-top: 5px;
  margin-bottom: 25px;
}

.comment-wrap {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.comment {
  display: inline-block;
  width: 70%;
  padding-left: 5px;
}

.comment_by {
  display: inline-block;
  font-size: 15px;
  color: #aaa;
  text-align: right;
  width: 29%;
}

/*.scrollable {
  overflow-y: scroll;
  height: 400px;
}*/

.or {
  font-size: 20px;
  color: #040404;
  margin-bottom: 10px;
}


/* Mobile CSS */
@media (max-width: 45em) {

  .or {
    font-size: 16px;
  }

  .inline-middle {
    width: auto;
    display: block;
    text-align: center;
  }

  .nav-pills>li, .nav-pills>li+li {
    float: none;
    width: 95%;
    text-align: left;
    margin: 10px auto;
  }

  .searchbar.inline-middle {
    display: inline-block;
    width: 60%;
  }

  .form-control {
    width: 90%;
  }

  .specific_paper {
    min-width: 275px;
  }

  .footer {
    text-align: center;
  }

  .counts {
    text-align: center;
  }

  .custom_column {
    margin: 0px 20px 10px 20px;
  }

  /*
  tr> td:first-child {
    display: none;
  }
  */

  td {
    text-align: left;
  }

  .feedback_form_wrap {
    width: 90%;
  }

}


/* New Theme tryout

body {
  background-color: black;
  color: white;
}

.jumbotron {
  background-color: #3c3939;
}

ul.nav.nav-pills.inline-middle a {
  background-color: #3c3939;
}

ul.nav.nav-pills.inline-middle .active a, ul.nav.nav-pills.inline-middle a:hover {
  background-color: #7b2929;
}

.specific_paper {
  background-color: #3c3939;
}

.specific_paper a.paper_link {
  color: #dcd9d9;
  border-color: #f4f5f7;
}

.specific_paper:hover {
  color: white;
  border: 3px solid #f4f5f7;
  font-size: 22px;
}

.specific_paper:hover a.paper_link {
  color: white;
}
*/