/* Bootstrap styles overridden here */

.nav.nav-pills.pull-left {
  font-size: 18px;
  margin: 5px 0;
}

.nav-pills>li+li {
  margin-left: 5px;
}

label {
	font-size: 20px;
	font-weight: 400;
}

form {
	margin: 0;
}

.form-control {
	width: 50%;
}

.form-group.required label:after {
  content: ' *';
  color: red;
  vertical-align: middle;
}

ul.nav.nav-pills.inline-middle a {
  background-color: #c1c0c0;
  color: white;
}

ul.nav.nav-pills.inline-middle .active a, ul.nav.nav-pills.inline-middle a:hover {
  background-color: black;
}

/* Flask paginate CSS */
.pagination-page-info {
  padding: .6em;
  padding-left: 0;
  width: 40em;
  margin: .5em;
  margin-left: 0;
  font-size: 18px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.pagination-page-info b {
  color: black;
  background: #b7c5d6;
  padding-left: 2px;
  padding: .1em .25em;
  font-size: 18px;
}

.pagination ul {
	padding: 0;
  margin: 5px 0;
}

.pagination ul li {
  display: inline-block;
  margin: 0px 10px;
  font-size: 20px;
}

/* Plus sign css */
.circle {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: rgb(44, 108, 128);
  position: relative;
  display: inline-block;
  vertical-align: sub;
  cursor: pointer;
}
.circle::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  height: 2px;
  margin-top: -5px;
  top: 62%;
  left: 5px;
  right: 5px;
  z-index: 9;
}
.circle::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  width: 2px;
  margin-left: -5px;
  left: 66%;
  top: 5px;
  bottom: 5px;
  z-index: 9;
}

/* overall css */
.header {
  padding: 5px 0px 5px 0px;
}

.footer {
  margin: 20px 0 50px 0;
}

.inline-middle {
	display: inline-block;
	vertical-align: middle;
	width: 49.5%;
}

th, td {
	border: 1px solid;
	padding: 5px;
}

td li {
  list-style: none;
  margin: 5px;
}

.wrap-file input[type=file] {
  display: inline-block;
  vertical-align: super;
}

.wrap-file .custom_dropdown {
  display: inline-block;
  vertical-align: super;
}

.searchbar-wrap {
	text-align: right;
}

.feedback_form {
	background-color: white;
  padding: 30px;
  margin: 10px 0px;
}

.loading {
	display: none;
}

/* Paper browsing app store UI */
.papers {
  display: flex;
  flex-flow: row wrap;
}

.specific_paper {
  border: 2px solid #d1dae2;
  border-radius: 5px;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  flex-grow: 1;
  margin: 7px;
  width: 300px;
  height: 165px;
  background-color: #d1dae2;
}

.specific_paper div {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.specific_paper a.paper_link {
	color: #545353;
}

.specific_paper a.paper_link:hover {
	text-decoration: none;
}

.specific_paper:hover, .specific_paper:hover a.paper_link {
  color: #1a1b1a;
  border-color: black;
}

/* Table in specific paper page */
.paper_info h3 {
	text-align: center;
}

.edit_button {
	text-align: right;
}

.paper_info table, .paper_info th, .paper_info td {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  font-size: 18px;
}

.paper_info table ul {
	padding: 0;
	margin: 0;
}

.paper_info table {
	margin: 0px auto;
}

.feedback_form_wrap {
	margin-top: 25px;
}

.feedback_form_wrap h3 {
	text-align: center;
}

.modal_btn {
  cursor: pointer;
  text-decoration: underline;
}

.modal_text {
  display: block;
  padding: 10px;
  font-size: 14px;
  color: #333;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal_text p {
	margin-bottom: 3px;
}
.modal_text p.tab {
	margin-left: 50px;
}

/* The Modal (background) taken and modified from w3 schools */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal_content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 3px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}