/* Bootstrap styles overridden here */

.nav.nav-pills.pull-left {
  font-size: 18px;
  margin: 5px 0;
}

label {
	font-size: 20px;
	font-weight: 400;
}

.form-control {
	width: 50%;
}

.form-group.required label:after {
  content: ' *';
  color: red;
  vertical-align: middle;
}


/* overall css */
.header {
  padding: 5px 0px 5px 0px;
}