<html>
    <head>
      <title>SE Garage</title>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}">

      <!-- Optional theme -->
      <link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap-theme.min.css') }}">

      <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">

      <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>

      <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.tagsinput.min.js') }}"></script>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/jquery.tagsinput.min.css') }}" />

      <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    </head>
    <body>
      <div class="container">
        <div class="header clearfix">
          <nav class="clearfix">
            <ul class="nav nav-pills inline-middle">
              <li role="presentation" {%- if request.path == "/index" %} class="active" {% endif %}><a href="{{ url_for('index') }}">Home</a></li>
              <li role="presentation" {%- if request.path == "/request_upload" %} class="active" {% endif %}><a href="{{ url_for('request_upload') }}">Request Upload</a></li>
              <li role="presentation" {%- if request.path == "/papers" %} class="active" {% endif %}><a href="{{ url_for('papers') }}">Papers</a></li>
            </ul>
            <div class="searchbar-wrap inline-middle">
              <form action="{{ url_for('search') }}" method="post" name="search">
                  {{ g.search_form.hidden_tag() }}
                  {{ g.search_form.q(size=20, class_='form-control searchbar inline-middle') }}
                  {{ g.search_form.search_button(class_='btn btn-success') }}
              </form>
            </div>
          </nav>
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
              <div class="alert alert-info">
                <strong>{{ message }} </strong>
              </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        
        <!-- <h1>Welcome to SE Garage</h1> -->
        <div class="jumbotron">
          {% block content %}{% endblock %}
        </div>

        <footer class="footer" style="text-align:center;">
          <p>&copy; University of Waterloo | Lakshmanan Arumugam, Vikram N.Subramanian, Yin Lin, Mei Nagappan. | For any queries, please contact <a
            href="mailto:segarage@uwaterloo.ca"> segarage@uwaterloo.ca </a></p>
        </footer>
      </div>
    </body>
</html>
