{% extends "base.html" %}
{% block title %}

<div class="text-center">
	<h1>SE Tool Garage</h1>
	<p>Find the software engineering tools you need</p>
	
	<div class="searchbar-wrap inline">
		<form action="{{ url_for('search') }}" method="post" name="search">
			{{ g.search_form.hidden_tag() }}
			{{ g.search_form.q(size=20, class_='form-control searchbar inline-middle', placeholder="Search Here") }}
		</form>
	</div>

	<div>
		<span class="modal_btn_useragreement"> Terms of use </span><br>
	</div>
</div>

{% endblock %}
{% block content %}
{% for paper in papers |sort(reverse=true, attribute="created_at")%}
<div class="specific_paper">
	<a class="paper_link" href="/papers/{{ paper.id }}">
		<div class="paper_image">
			<img class="icon" src="{{ url_for('static',filename='assets/{}.svg'.format(icondict[paper.category])) }}"
				onerror="this.src='static/assets/36.png'; ">
		</div>
		<div class="paper_info">
			<div class="top">
				<div class="title">
					{{ paper.paper_name }}
				</div>
				<div class="name_year">
					<div>
						{{ paper.author_name }}
					</div>
					<div>
						{{ paper.year }}
					</div>
				</div>
			</div>
			<div class="bot">
				{{ paper.small_description }}
			</div>
		</div>
	</a>
</div>
{% endfor %}




<!-- The Modal -->
<div class="modal" id="useragreement_modal">

	<!-- Modal content -->
	<div class="modal_content">
		<span class="close">&times;</span>
		<div class="scrollable">
			Terms of Use (adapted from <a href="https://about.zenodo.org/terms/">Zenodo</a>). <br><br>

			The SEGarage service ("SEGarage") is offered by Mei Nagappan with generous contributions from the School of
			Computer Science at the University of Waterloo to make available the tools generated in research. <br><br>

			Use of SEGarage, both the uploading and downloading of data, denotes agreement with the following
			terms:<br><br>

			SEGarage is a research data repository for the preservation and making available of research tools. Access
			to SEGarage’s content is open to all, for non-military purposes only.<br><br>

			Content may be uploaded free of charge by those without ready access to an organized data centre.<br><br>

			The uploader shall ensure that their content is suitable for open dissemination, and that it complies with
			these terms and all applicable laws (especially in Canada), including, but not limited to, privacy, data
			protection and intellectual property rights.<br><br>

			All content is provided "as-is". Users of content ("Users") shall respect applicable license conditions.
			Download and use of content from SEGarage does not transfer any intellectual property rights in the content
			to the User.<br><br>

			Users are exclusively responsible for their use of content, and shall hold the University of Waterloo and
			Mei Nagappan free and harmless in connection with their download and/or use.<br><br>

			We reserve the right, without notice, at our sole discretion and without liability, (i) to alter or delete
			inappropriate content, and (ii) to restrict or remove User access where it considers that use of SEGarage
			interferes with its operations or violates these Terms of Use or applicable laws.<br><br>

			Unless specified otherwise, SEGarage metadata may be freely reused under the <a
				href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 waiver</a>. Bulk downloading of email
			addresses taken from SEGarage is not allowed.<br><br>

			These Terms of Use are subject to change by us at any time and without notice, other than through posting
			the updated Terms of Use on the SEGarage website.<br><br>

			If you have any questions or comments with respect to SEGarage, or if you are unsure whether your intended
			use is in line with these Terms of Use, or if you seek permission for a use that does not fall within these
			Terms of Use, please <a href="mailto:segarage@uwaterloo.ca">contact us</a>.<br><br>
		</div>
	</div>

</div>


<script type="text/javascript">
	$(document).ready(function () {
		$('body').on('click', '.modal_btn_useragreement', function () {
			$('#useragreement_modal').show();
		});

		$('span.close').on('click', function () {
			$('.modal').hide();
		});

		$(window).on('click', function (event) {
			if (event.target.className == "modal") {
				$('.modal').hide();
			}
		});
	});
</script>
{% endblock %}
