{% extends "base.html" %}

{% block content %}
    <h4>Request to upload Tool</h4>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.authoremail.label }}<br>
            {{ form.authoremail(size=32) }}
            {% for error in form.authoremail.errors %}
            	<span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.papername.label }}<br>
            {{ form.papername(size=32) }}
            {% for error in form.papername.errors %}
            	<span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.request_upload() }}</p>
    </form>
{% endblock %}