{% extends "base.html" %}

{% block content %}

<div class="paper_info">
  <div class="counts">
    <div class="custom_column">
      <div class="count">
        {{ paper.download_count }}
      </div>
      <div class="">
        Downloads
      </div>
    </div>
    <div class="custom_column">
      <div class="count">
        {{ paper.view_count }}
      </div>
      <div class="">
        Views
      </div>
    </div>
    <div class="custom_column">
      <div class="count">
        {{ upvotes }}
      </div>
      <div class="">
        Upvotes
      </div>
    </div>
 
  </div>
  <h3>{{ paper.paper_name }}</h3>

  <table>
  <tr>
    <td>Contact author email: </td>
    <td> {{ paper.author_email }} </td>
  </tr>
  <tr>
    <td>Tool name: </td>
    <td>{{ paper.tool_name }}</td>
  </tr>
  <tr>
    <td>Description:</td>
    <td>{{ paper.description }}</td>
  </tr>
  <!-- <tr>
    <td>Link to archive:</td>
    <td>
      {% if paper.link_to_archive == 'Not provided' or paper.link_to_archive == None %}
        <a>Not provided by authors</a>
      {% else %}
        <a href="{{paper.link_to_archive}}" target="_blank">{{ paper.link_to_archive }}</a>
      {% endif %}
    </td>
  </tr> -->
  <tr>
    <td>Bibtex:</td>
    <td class="preserve-line-breaks">{{ paper.bibtex }}</td>
  </tr>
  <tr>
    <td>Link to public pdf:</td>
    <td>
      {% if paper.link_to_pdf == 'Not provided' or paper.link_to_pdf == None %}
        <a>Not provided by authors</a>
      {% else %}
        <a href="{{ paper.link_to_pdf }}" target="_blank">{{ paper.link_to_pdf }}</a>
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>Link to tool webpage:</td>
    <td>
      {% if paper.link_to_tool_webpage == 'Not provided' or paper.link_to_tool_webpage == None %}
        <a>Not provided by authors</a>
      {% else %}
        <a href="{{ paper.link_to_tool_webpage }}" target="_blank">{{ paper.link_to_tool_webpage }}</a>
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>Link to demo:</td>
    <td>
      {% if paper.link_to_demo == 'Not provided' or paper.link_to_demo == None %}
        <a>Not provided by authors</a>
      {% else %}
        <a href="{{ paper.link_to_demo }}" target="_blank">{{ paper.link_to_demo }}</a>
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>Tags:</td>
    <td>
      
        {{ tags }}
      
    </td>
  </tr>
  <tr>
    <td>Artifacts:</td>
    <td>
      <ul>
      {% for file in paper.files %}
        {% if file != 'None' %}
          <li>{{ file.filetype }}: <a href="/downloads/{{ paper.id }}/{{file.filename}}">{{ file.filename }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </td>
  </tr>
  <tr>
    <td>Year and Conference:</td>
    <td>
      {{ paper.year }}, {{ paper.conference }}
    </td>
  </tr>
  </table>
  <div class="edit_button">
    <button class="trigger_edit btn">
      Edit paper information
    </button>
  </div>
</div>

<!-- The Modal -->
<div class="modal">

  <!-- Modal content -->
  <div class="modal_content">
    <span class="close">&times;</span>
    <div class="modal_msg">
      Please do not use this feature if you are not the contact author, only the contact authors get the link to upload the tools!
    </div>
    <form action="{{ url_for('request_update', id=paper.id) }}" method="post" class="edit_request">
      {{ edit_button.hidden_tag() }}
      <div class="form-group">
        {{ edit_button.submit(class_='btn btn-success edit_button_function') }}
      </div>
    </form>
  </div>

</div>

<div class="comments">
  <h3>Comments</h3>
  {% for comment in comments %}
    <div class="comment-wrap">
      <div class="comment">
        {{ comment.comment }}
      </div>
      <div class="comment_by">
        commented by {{ comment.commenter_name }}
      </div>
    </div>    
  {% endfor %}
</div>

<div class="feedback_form_wrap">
  <h3>Your feedback would be appreciated!</h3>

  <form action="{{ url_for('add_comment', id=paper.id) }}" method="post" class="feedback_form">
    <div class="form_submission_msg">
    </div>
    {{ form.hidden_tag() }}
    <div class="form-group required">
        {{ form.commenter_email.label }}
        {{ form.commenter_email(size=32, class_='form-control') }}
        {% for error in form.commenter_email.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.commenter_name.label }}
        {{ form.commenter_name(size=32, class_='form-control') }}
        {% for error in form.commenter_name.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="form-group required">
        {{ form.comment.label }}
        {{ form.comment(size=32, class_='form-control') }}
        {% for error in form.comment.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.upvote() }}
        {{ form.upvote.label }}
    </div>
    <div class="form-group">
        {{ form.recaptcha }}
        {% for error in form.recaptcha.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="form-group">{{ form.submit(class_='btn btn-success') }}</div>

    <div class="loading">
      <img src="{{ url_for('static',filename='assets/roll.gif') }}" />
    </div>

  </form>
</div>


<script>
  $(document).ready(function() {
    $('.feedback_form').submit(function (e) {
      $('.form_submission_msg').text('')
      $('.loading').show();
      $('.form-group').hide();

      var url = "{{ url_for('add_comment', id=paper.id) }}"; // send the form data here.
      $.ajax({
        type: "POST",
        url: url,
        data: $('form').serialize(), // serializes the form's elements.
        success: function (result) {
          console.log(result)  // display the returned data in the console.
          $('.loading').hide();
          $('.form_submission_msg').text(result.data.message)
        },
        error: function (error) {
          $('.loading').hide();
          $('.form-group').show();
          $('.form_submission_msg').text(error.responseJSON.data.custom_msg)

          var errors = error.responseJSON.data.errors
          var keys = Object.keys(errors)
          $('.ajax_errors').remove()
          for (var index in keys){
            key = keys[index]
            id = `#${key}`
            if(key == 'recaptcha') {
              id = '.g-recaptcha'
            }
            msg = errors[key]
            $(id).closest('.form-group').append(`<span class="ajax_errors" style="color: red;">${msg}</span>`)
          }

        }
      });
      e.preventDefault(); // block the traditional submission of the form.
      console.log('inside ajax');
    });

    // // Verify captcha and submit form
    // $('.edit_button_function').on('click', function(event) {
    //   event.stopPropagation();
    //   if((grecaptcha && grecaptcha.getResponse().length !== 0)) {
    //     $(this).submit();
    //   }
    //   else {
    //     $('.modal_msg').text('Verify Captcha')
    //     event.preventDefault()
    //   }
    // })

    $('.edit_button').on('click', function() {
      $('.modal').show();
    })

    $('span.close').on('click', function() {
      $('.modal').hide();
    })

    $(window).on('click', function(event) {
      if(event.target.className == "modal") {
        $('.modal').hide();
      }
    })




    // Inject our CSRF token into our AJAX request.
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
        }
      }
    })
  });
</script>

{% endblock %}