{% extends "base.html" %}

{% block content %}
    <h3>SE Garage, upload tool</h3>
    <form action="" id="upload_form" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.toolname.label }}
            {{ form.toolname(class_='form-control') }}
            {% for error in form.toolname.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group required">
            {{ form.papername.label }}
            {{ form.papername(size=32, class_='form-control') }}
            {% for error in form.papername.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group required">
            {{ form.description.label }}
            {{ form.description(size=32, class_='form-control') }}
            {% for error in form.description.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.authorname.label }}
            {{ form.authorname(size=32, class_='form-control') }}
            {% for error in form.authorname.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group required">
            {{ form.authoremail.label }}
            {{ form.authoremail(size=32, class_='form-control') }}
            {% for error in form.authoremail.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.linktopdf.label }}
            {{ form.linktopdf(size=32, class_='form-control') }}
            {% for error in form.linktopdf.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group required">
            {{ form.linktoarchive.label }}
            {{ form.linktoarchive(size=32, class_='form-control') }}
            {% for error in form.linktoarchive.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.linktodemo.label }}
            {{ form.linktodemo(size=32, class_='form-control') }}
            {% for error in form.linktodemo.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group required">
            {{ form.bibtex.label }}
            {{ form.bibtex(size=32, class_='form-control') }}
            <div class="modal_btn">Show sample</div>
            {% for error in form.bibtex.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group required">
            {{ form.tags.label }}
            {{ form.tags(size=32, class_='form-control') }}
            {% for error in form.tags.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group required custom_upload">
            {{ form.all_files.label }}
            <div class="wrap-file">
                <div class="circle"></div>
                <div class="custom_dropdown">{{form.dropdown_choices}}</div> 
                {{ form.all_files }}
            </div>
            {{ form.file_types }}
            {% for error in form.all_files.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        
       
        <p>{{ form.upload(class_='btn btn-success') }}</p>
    </form>

    <!-- The Modal -->
    <div class="modal">

      <!-- Modal content -->
      <div class="modal_content">
        <span class="close">&times;</span>
        <div class="modal_text"><p>@article{author_username,</p>
              <p class="tab">title={Paper title},</p>
              <p class="tab">author={Lastname, Firstname and Lastname, Firstname},</p>
              <p class="tab">journal={Journal name},</p>
              <p class="tab">volume={3},</p>
              <p class="tab">number={1},</p>
              <p class="tab">pages={170--177},</p>
              <p class="tab">year={2010},</p>
              <p class="tab">publisher={publisher name}</p>
            }
        </div>
      </div>

    </div>


    <script type="text/javascript">
        $(document).ready(function() {
            $('#tags').tagsInput();
            $('.tagsinput').addClass('form-control');

            // code to add more files not more than 5 attachments
            $('#all_files').removeAttr('multiple')
            $('.custom_upload').on('click', '.wrap-file .circle', function() {
                console.log('clicked plus');
                if($('.wrap-file').size() < 5) {
                    var element = '<div class="wrap-file"><div class="circle"></div> <div class="custom_dropdown"><select id="dropdown_choices" name="dropdown_choices"><option value="Binary">Binary</option><option value="Scripts (Source code)">Scripts (Source code)</option><option value="Readme">Readme</option></select></div> <input id="all_files" name="all_files" type="file"></div>'
                
                    $('.custom_upload').append(element);
                }
            })

            // code to update each uploaded file types
            $('#file_types').hide();
            $('.custom_upload').on('change', '.wrap-file .custom_dropdown #dropdown_choices, .wrap-file #all_files', function() {
                console.log('file select or dropdown changed')
                var arr = []
                $('.custom_dropdown #dropdown_choices').each(function() {
                    var file_selected = $(this).closest('.custom_dropdown').next().val();
                    if(file_selected) {
                        arr.push($(this).val())
                    }
                })
                values = arr.join(',')
                console.log(values)
                $('.custom_upload #file_types').val(values)
            })

            //code for modal show/hide
            $('.modal_btn').on('click', function() {
                $('.modal').show();
            })

            $('span.close').on('click', function() {
                $('.modal').hide();
            })

            $(window).on('click', function(event) {
                if(event.target.className == "modal") {
                    $('.modal').hide();
                }
            })

        });
    </script>
{% endblock %}