{% extends "base.html" %}

{% block content %}
    <h3>SE Garage, upload tool</h3>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.toolname.label }}
            {{ form.toolname(class_='form-control') }}
            {% for error in form.toolname.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.toolformat.label }}
            {{ form.toolformat(size=32, class_='form-control') }}
            {% for error in form.toolformat.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.papername.label }}
            {{ form.papername(size=32, class_='form-control') }}
            {% for error in form.papername.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.authorname.label }}
            {{ form.authorname(size=32, class_='form-control') }}
            {% for error in form.authorname.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.authoremail.label }}
            {{ form.authoremail(size=32, class_='form-control') }}
            {% for error in form.authoremail.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.linktopdf.label }}
            {{ form.linktopdf(size=32, class_='form-control') }}
            {% for error in form.linktopdf.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.linktoarchive.label }}
            {{ form.linktoarchive(size=32, class_='form-control') }}
            {% for error in form.linktoarchive.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.linktodemo.label }}
            {{ form.linktodemo(size=32, class_='form-control') }}
            {% for error in form.linktodemo.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.bibtex.label }}
            {{ form.bibtex(size=32, class_='form-control') }}
            {% for error in form.bibtex.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        {{ 'Upload Readme/instructions file' }}
        {{ form.readme_file }}
        <!-- {{ form.readme_file.data.filename }} -->
        <br>
        {{ 'Upload scripts/source code' }}
        {{ form.scripts_file }}
        <br>
        {{ 'Upload all in one zip file' }}
        {{ form.all_in_one_file }}
        <br>
        <p>{{ form.upload(class_='btn btn-success') }}</p>
    </form>
{% endblock %}